<div class="flex h-svh w-full items-center justify-center text-custom-text">
  <div
    class="flex w-96 flex-col items-center justify-center rounded-md bg-custom-semiBg1 px-8 py-10"
  >
    <h1 class="mb-2 text-3xl font-bold">Hey There!</h1>
    <p class="mb-3">login to your account.</p>
    <!-- login form -->
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="mb-2 flex flex-col gap-2 w-full"
    >
      <!-- email input -->
      <input
        type="email"
        class="w-full rounded-md border-2 border-custom-accent bg-custom-bg px-4 py-2 focus:outline-none "
        placeholder="Username"
        formControlName="username"
      />
      @if (loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched) {
        <small class="text-red-500">Username is required.</small>
      }
      <!-- password input -->
      <input
        type="password"
        class="w-full rounded-md border-2 border-custom-accent bg-custom-bg px-4 py-2 focus:outline-none"
        placeholder="Password"
        formControlName="password"
      />
      @if (loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched) {
        <small class="text-red-500">Password is required.</small>
      }@else if (loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched) {
        <small class="text-red-500">Password must be at least 8 characters long.</small>
      }
      <!-- login button -->
      <button
        type="submit"
        class="hover:bg-custom-accent-dark w-full rounded-md bg-custom-accent px-4 py-2 font-semibold text-custom-text disabled:opacity-60"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </form>
    <!-- register link -->
    <p class="text-sm">
      Don't have an account? <a routerLink="/register">Register</a>
    </p>
  </div>
</div>
