<div class="flex h-svh w-full items-center justify-center text-custom-text">
  <div
    class="flex w-96 flex-col items-center justify-center rounded-md bg-custom-semiBg1 px-4 py-8"
  >
    <h1 class="mb-2 text-3xl font-bold">Welcome!</h1>
    <p class="mb-3">Create your new account.</p>
    <!-- register form -->
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="flex w-full flex-col gap-3 mb-2"
    >
      <!-- username input -->
      <input
        type="text"
        class="flex w-full rounded-md border-2 border-custom-accent bg-custom-bg px-4 py-2 focus:outline-none"
        placeholder="Username"
        formControlName="username"
      />
      @if (
        registerForm.get("username")?.invalid &&
        registerForm.get("username")?.touched
      ) {
        @if (registerForm.get("username")?.errors?.["required"]) {
          <small class="text-red-500">Username is required.</small>
        } @else if (registerForm.get("username")?.errors?.["minlength"]) {
          <small class="text-red-500"
            >Username must be at least 5 characters long.</small
          >
        }
      }
      <!-- email input -->
      <input
        type="email"
        class="w-full rounded-md border-2 border-custom-accent bg-custom-bg px-4 py-2 focus:outline-none"
        placeholder="Email"
        formControlName="email"
      />
      @if (
        registerForm.get("email")?.invalid && registerForm.get("email")?.touched
      ) {
        @if (registerForm.get("email")?.errors?.["required"]) {
          <small class="text-red-500">Email is required.</small>
        } @else if (registerForm.get("email")?.errors?.["email"]) {
          <small class="text-red-500">Please enter a valid email address</small>
        }
      }
      <!-- password input -->
      <input
        type="password"
        class="w-full rounded-md border-2 border-custom-accent bg-custom-bg px-4 py-2 focus:outline-none"
        placeholder="Password"
        formControlName="password"
      />
      <!-- confirmPassword input -->
      <input
        type="Password"
        class="w-full rounded-md border-2 border-custom-accent bg-custom-bg px-4 py-2 focus:outline-none"
        placeholder="confirm password"
        formControlName="confirmPassword"
      />
      @if(registerForm.errors?.['passwordsMismatch'] && registerForm.get('confirmPassword')?.touched) {
        <small class="text-red-500">Passwords do not match.</small>
      }
      <div class="grid grid-cols-2 grid-rows-3">
        <p class="col-span-2 text-sm font-semibold text-gray-500">
          Password must contain:
        </p>
        <small
          [class.text-green-700]="
            !registerForm.get('password')?.errors?.['upperCase'] &&
            registerForm.get('password')?.value?.length >= 1
          "
          class="flex items-center gap-1 text-gray-600"
          ><fa-icon [icon]="faCheck"></fa-icon>2 uppercase letter at least.</small
        >
        <small class="flex items-center gap-1 text-gray-600"
        [class.text-green-700]="
            !registerForm.get('password')?.errors?.['specialChar'] &&
            registerForm.get('password')?.value?.length >= 1
          "
          ><fa-icon [icon]="faCheck"></fa-icon>2 special letter at least.</small
        >
        <small
          [class.text-green-700]="
            !registerForm.get('password')?.errors?.['lowerCase'] &&
            registerForm.get('password')?.value?.length >= 1
          "
          class="flex items-center gap-1 text-gray-600"
          ><fa-icon [icon]="faCheck"></fa-icon>2 lowercase letter at least.</small
        >
        <small [class.text-green-700]="
        !registerForm.get('password')?.errors?.['digit'] &&
        registerForm.get('password')?.value?.length >= 1
      " class="flex items-center gap-1 text-gray-600"
          ><fa-icon [icon]="faCheck"></fa-icon>2 numbers at least.</small
        >
      </div>
      <!-- register button -->
      <button
        type="submit"
        class="hover:bg-custom-accent-dark w-full rounded-md bg-custom-accent px-4 py-2 font-semibold text-custom-semiBg1 disabled:opacity-60"
        [disabled]="registerForm.invalid"
      >
        Register
      </button>
    </form>
    <p class="text-sm">
      Already have an account? <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
